@use "@angular/material" as mat;

@import "bootstrap/scss/bootstrap";

$my-palette: mat.$indigo-palette;

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: rgba(247, 247, 247);
}
